<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Generate Trump Tweets using AI. Choose a subject, and the algorithm uses a sample of 36,000 Tweets to build a hilarious new one!">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>Generate Trump Tweets with AI</title>

        <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        <link rel="icon" type="image/png" href="favicon-16x16.png">

        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9484202365193890",
            enable_page_level_ads: true
          });
        </script>
    </head>

    <body class="text-center" id="body-main">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-5" id="header-panel">
            <div class="inner">
                <h3 class="masthead-brand">Trump Tweets Generator</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="/">Home</a>
                    <a class="nav-link" href="/privacy">Privacy</a>
                    <a class="nav-link" href="/about">About</a>
                </nav>
            </div>
        </header>

      <main role="main" class="inner cover mt-5">
        <h1 class="cover-heading">Create Trump tweets with AI</h1>
          <p class="text-left">Run AI on a sample of 36,000+ of the Donald's Tweets, and build a new random Tweet by selecting a starting word!</p>

          <form id="main-form" class="form-inline">
              <div class="form-group mr-2">
                  <select id="select-box" class="form-control" style="width:250px">
                      <option selected>Worst</option>
                      <option>tremendous</option>
                      <option>Idiot</option>
                      <option>Mexico</option>
                      <option>Obama</option>
                      <option>Fake</option>
                      <option>Hillary</option>
                      <option>Democrats</option>
                      <option>Loser</option>
                      <option>Republicans</option>
                      <option>China</option>
                      <option>Crooked</option>
                      <option>America</option>
                      <option>ObamaCare</option>
                      <option>Fantastic</option>
                      <option>Iran</option>
                      <option>Syria</option>
                      <option>terrible</option>
                      <option>greatest</option>
                      <option>massive</option>
                      <option>Russia</option>
                      <option>Stormy</option>
                      <option>Witch</option>
                      <option>women</option>
                      <option>Border</option>
                      <option>weak</option>
                      <option>failed</option>
                      <option>Korea</option>
                      <option>immigration</option>
                      <option>jokers</option>
                  </select>
              </div>

              <div class="form-group mr-2">
                  <button type="submit" class="btn btn-primary" id="create-tweet">Create Tweet</button>
              </div>

              <div class="form-group ml-2" id="loading" style="display: none">
                <i class="fa fa-spinner fa-spin fa-2x" aria-hidden="true"></i>
              </div>
          </form>

          <div class="card mx-auto" style="max-width: 500px;" id="output-area">
            <div class="card-header" id="output-title">
                Get started
            </div>
            <div class="card-body">
                <p id="output-text">Select a word and click "Create Tweet" to generate Trump Tweets!</p>
            </div>
          </div>

          <div class="card mx-auto" style="max-width: 350px; margin-top: 150px;">
            <div class="card-header">
                Sample Tweet
            </div>
            <div class="card-body">
                <p>"Weak jokers who can do a Trump for president of your nice words from a fantastic job! Thanks!
                    Thank you. You have not even if a long and we need a terrible that he has a total winner! Fantastic evening last night. I am the U.S. and his show is not."</p>
            </div>
          </div>

          <div class="card mx-auto" style="max-width: 350px; margin-top: 20px;">
            <div class="card-header">
                Sample Tweet
            </div>
            <div class="card-body">
                <p>"Tremendous damage they will never forget that I have never did you to stop this is the only
                    candidate who has the great guy and our great people on @foxandfriends interview discussing how come out and your work ethic gives a good for his bad thing. Only the U.S. Supreme Court! Twitter."</p>
            </div>
          </div>

          <div class="card mx-auto" style="max-width: 350px; margin-top: 20px;">
            <div class="card-header">
                Sample Tweet
            </div>
            <div class="card-body">
                <p>"Massive amounts to have the great again! The only person that will never have gone through
                    results. Think Big win in Chicago sign. Really enjoyed every time ago today, the U.S. will never went down as he would have my vote in our great country needs the great job as your support!"</p>
            </div>
          </div>

          <div class="card mx-auto" style="max-width: 350px; margin-top: 20px;">
            <div class="card-header">
                Sample Tweet
            </div>
            <div class="card-body">
                <p>"Witch Hunt, they had to be ashamed for president of my full support to be on @foxandfriends interview from a lot to see how much for president of our country. So many of people are a real leader. I love what is the United States, is so badly of my favorite places."</p>
            </div>
          </div>

          <div class="card mx-auto" style="max-width: 350px; margin-top: 20px;">
            <div class="card-header">
                Sample Tweet
            </div>
            <div class="card-body">
                <p>"Democrats in my full support this is in our great job as bad and will MAKE IT WILL SELDOM FAIL 💯 @paranormalfact: @stevenharlow85 Great interview discussing why the United Kingdom. Prime Minster @AbeShinzo back into U.S. and his first ever before. @mikerotondo86 Only the only way ahead in your favorite TRUMP."</p>
            </div>
          </div>

          <div class="card mx-auto" style="max-width: 350px; margin-top: 20px; margin-bottom: 40px;">
            <div class="card-header">
                Sample Tweet
            </div>
            <div class="card-body">
                <p>"Fake News. It was no more of my vote on his first place. When I have no idea of our Country has zero respect and to go a nice thank you! It was just a new poll just announced a true patriot support our great guy is the United States."</p>
            </div>
          </div>

      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Built with <img src="/static/python-logo.png" alt="python-logo-image-build" width="35" height="35"></p>
        </div>
      </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script type = "text/javascript" src = "/static/bootstrap.min.js"></script>
    <script type = "text/javascript" src = "/static/main.js"></script>

  </body>
</html>